@model List<ResultCourseDto>
@{
    ViewData["Title"] = "GetCoursesByCategoryId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="slider-area ">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            @foreach(var name in Model.Take(1))
                            {
                                <h2>@name.courseCategoryName Kursları</h2>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="all-course section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="all-course-wrapper">
                        <div class="row">
                            <div class="col-12">
                                <div class="tab-content" id="nav-tabContent">

                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel">
                                        <div class="row">

                                            @foreach (var item in Model)
                                            {
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="single-course mb-70">

                                                        <div class="course-img">
                                                            <img src="@item.imageUrl"
                                                                 class="img-fluid"
                                                                 style="height:259px; width:100%; object-fit:cover;">
                                                        </div>

                                                        <div class="course-caption">
                                                            <div class="course-cap-top">
                                                                <h4>
                                                                    <a href="#">@item.courseName</a>
                                                                </h4>
                                                            </div>

                                                            <div class="course-cap-mid d-flex justify-content-between">
                                                                <div class="course-ratting">
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>

                                                                <ul>
                                                                    <li>52 Review</li>
                                                                </ul>
                                                            </div>

                                                            <div class="course-cap-bottom d-flex justify-content-between">
                                                                <span>@item.price₺</span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>