@model List<ResultCourseDto>
<div class="popular-course section-padding30">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-70">
                    <span>Haftanın Yıldızları</span>
                    <h2>Öğrencilerimizin En Çok Tercih Ettiği Kurslar</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-course mb-40">
                        <div class="course-img">
                            <img src="@item.imageUrl" alt="Popüler Kurslar">
                        </div>
                        <div class="course-caption">
                            <div class="course-cap-top">
                                <h4><a href="#">@item.courseName</a></h4>
                            </div>
                            <div class="course-cap-mid d-flex justify-content-between">
                                <div class="course-ratting">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <ul><li>52 Değerlendirme</li></ul>
                            </div>
                            <div class="course-cap-bottom d-flex justify-content-between">
                                <ul>
                                    <li><i class="ti-user"></i> 562</li>
                                    <li><i class="ti-heart"></i> 562</li>
                                </ul>
                                <span>@item.price₺</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="browse-btn2 text-center mt-50">
                    <a href="/Course/Index" class="btn">Daha Fazla Kurs Bul</a>
                </div>
            </div>
        </div>
    </div>
</div>